.gaming {
  background-image: url(https://img.freepik.com/vector-premium/neon-retro-fondo-3d-paisaje-80s_8048-395.jpg?w=2000);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.gaming-container {
  margin: 0 auto;
}

.gaming-container__text-box {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 40vw;
  position: relative;
  padding-top: 3rem;
}

.gaming-container__text-box p {
  width: 46%;
  margin: 7rem auto;
}

