.Item {
    display: grid;
    grid-column: auto;
    margin: 0 auto;
    border: 5px solid rgb(224, 203, 203);
    grid-template-columns: 1fr 1fr;
    grid-column: 1fr 1fr;
    margin-bottom: 3rem;
}

.portada {
    height: 300px;
    width: 250px;
    margin: 0 auto;
    border: 3px white solid;
}

.Item-contenedor {
    margin: auto;
    
}

.Item-contenedor h3 {
    color: white;
}
.precio {
    font-size: 1.5rem;
    color: white;
}


.button-item {
    height: 3rem;
    width: 75px;
}

.button-item:hover {
    border: green solid 1px;
    background-color: green;
}